/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    /* Additional styles for the navbar as needed */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 10px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.title img {
    width: 800px; 
    height: auto; 
margin-top: 40px;
margin-bottom: -80px}



grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Two columns */
    grid-template-rows: repeat(2, 1fr); /* Three rows */
    grid-gap: 20px;
    padding: 20px;
    justify-items: center;
    scroll-margin-bottom: 20px;
}

.grid-item {
    position: relative; 
}

.image-behind-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 580px; 
    height: 500px; 
}
.image-behind-video img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

 .below-grid-image {
      position: relative;
      bottom: 920px;
      left: 0;
      width: 100%;
      z-index: 1; /* Ensure it's above other content */
    }
    
    .below-grid-image img {
      width: 100%;
      height: auto;
      object-fit: cover; /* Maintain aspect ratio */
    }


.draggable {
    width: 140px; /* Set the width */
    height: 140px; /* Set the height to match the width */
    position: absolute;
    object-fit: cover;
    cursor: pointer;
    user-drag: none;
    user-select: none;
    /* Set initial position */
    top: 100px;
    left: 100px;
}
.image1 {
    transform: rotate(90deg); /* Rotate the image by 90 degrees */
}.below-grid {
    position: relative;
    margin-top: 20px; /* Adjust the margin as needed */
    text-align: center; /* Align the image in the center */
}

.below-grid img {
    max-width: 100%;
    height: auto;
    width: 800px;
    height: 570px;
    left: -60px;
    position: relative; /* or position: absolute; */
    top: -2420px; /* Adjust this value to move the image up or down */
}














